@font-face {
    font-family: 'Lexend';
    src: url('./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Space-Grotesk';
    src: url('./assets/fonts/Space-Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body{
    min-height: 100vh;
}