body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    background: url(./assets/bgs/bgnoise@4x.png) lightgray 50% / cover no-repeat;
}

img.cps {
    height: 56px;

    position: absolute;
    left: 48px;
    top: 32px;
}

img.logo{
    height: 72px;
}

img.loading{
    width: 40px;

    animation: rotating 1s infinite;
    animation-fill-mode: forwards;
}

@keyframes rotating {
    to{
        transform: rotate(360deg);
    }
}

.login-frame{
    width: 320px;
    height: 776px;

    position: absolute;
    bottom: 0;
    z-index: 1;

    border-radius: 16px 16px 0 0;
    border: 1px solid var(--fodase, rgba(255, 255, 255, 0.36));

    background-color: transparent;
    -webkit-mask-image: linear-gradient(160deg, black 40%, transparent 70%);
    mask-image: linear-gradient(160deg, black 40%, transparent 70%);
}

.login{
    position: absolute;
    bottom: 0;
    z-index: 2;

    display: flex;
    width: 320px;
    height: 776px;
    padding: 24px 24px 0 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}