body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    background: url(./assets/bgs/0cc8f2fc332ff4cb68462b03751bf5d015ae5030.png) lightgray 50% / cover no-repeat;
}

img.cps {
    height: 56px;

    position: absolute;
    left: 48px;
    top: 32px;
}

img.logo{
    height: 72px;
}

img.loading{
    width: 40px;

    animation: rotating 1s infinite;
    animation-fill-mode: forwards;
}

@keyframes rotating {
    to{
        transform: rotate(360deg);
    }
}