body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;

    background: url(./assets/bgs/bgnoise@4x.png) lightgray 50% / cover no-repeat;
}

.splash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.splash.hidden {
    opacity: 0;
    visibility: hidden;
}

img.cps {
    height: 56px;

    position: absolute;
    left: 48px;
    top: 32px;
}

img.logo{
    height: 72px;
}

img.loading{
    width: 40px;

    animation: rotating 1s infinite;
    animation-fill-mode: forwards;
}

@keyframes rotating {
    to{
        transform: rotate(360deg);
    }
}

.login-frame{
    transform: translateY(80%);
    transition: all 0.8s ease;

    width: 320px;
    height: 776px;

    position: absolute;
    bottom: 50%;
    z-index: 1;

    border-radius: 16px 16px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.36);

    background-color: transparent;
    -webkit-mask-image: linear-gradient(160deg, black 40%, transparent 70%);
    mask-image: linear-gradient(160deg, black 40%, transparent 70%);
}

.noborder{
    border: none !important;
}

.invisible{
    opacity: 0;
    pointer-events: none;
}

.login{
    transform: translateY(65%);
    transition: all 0.8s ease;

    position: absolute;
    bottom: 50%;
    z-index: 2;

    opacity: 1;

    display: flex;
    width: 320px;
    padding: 24px 24px 0 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;

    color: #FEFEFF;

    font-family: 'Lexend';
    font-size: 24px;
    font-weight: 500;

    .divider{
        width: 200px;
        height: 1px;
        flex-shrink: 0;

        border-radius: 1px;
        background: rgba(254, 254, 255, 0.25);
    }
    
    .inputs{
        
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        align-self: stretch;
        
        .input{
            position: relative;

            display: flex;
            height: 36px;
            padding: 0 9px;
            align-items: center;
            gap: 9px;
            align-self: stretch;

            border-radius: 4px;
            background: #650202;

            .vdivider{
                width: 1px;
                height: 14px;

                background: rgba(254, 254, 255, 0.50);
            }

            input{

                display: flex;
                padding-left: 3px;
                align-items: center;
                flex: 1 0 0;
                align-self: stretch;

                color: #FEFEFF;
                font-family: Lexend;
                font-size: 16px;
                font-weight: 400;

                background-color: transparent;
                border: none;
                outline: none;
            }

            input::placeholder{
                color: rgba(254, 254, 255, 0.25);
                font-weight: 300;
            }
        }

        .password{

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 8px;

            width: 100%;

            span{
                color: #FEFEFF;
                font-family: Lexend;
                font-size: 12px;
                font-weight: 400;
                text-decoration-line: underline;
            }

            button.show{
                height: calc(100% - 14px);
                aspect-ratio: 1/1;
                position: absolute;
                right: 9px;
                bottom: 6.792px;

                background-color: transparent;
                border: none;
                background-image: url(./assets/icons/closed-eye.svg);
                background-repeat: no-repeat;
                background-position: center 100%;

                cursor: pointer;
            }

            button.show.visible{
                background-image: url(./assets/icons/eye.svg) !important;
                background-position: center !important;
                background-size: contain !important;

                cursor: pointer;
            }
        }
    }

    a{
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;

        border-radius: 4px;
        background: #FEFEFF;
        border: none;

        cursor: pointer;

        color: #650202;
        font-family: Lexend;
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;

        transition: 200ms;
    }

    a:hover{
        box-shadow: 0 0 4px #FEFEFF;
    }
}